# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# FastAPI specific
instance/
*.log

# Cache files
*.cache
*.pytest_cache/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ruff cache folder
.ruff_cache/

# Pipenv files
Pipfile
Pipfile.lock

# Poetry files
poetry.lock

# Docker
*.env
.envrc
docker-compose.override.yml

# Mypy
.mypy_cache/
.dmypy.json

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.coverage
htmlcov/

# Others
.DS_Store
Thumbs.db
